C#/LetGoBikingCS/RoutingServer/Connected Services/ServiceReference1/APIJCDecauxProxy3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/MyService/APIJCDecauxProxy?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyServer" />
  <xs:import schemaLocation="http://localhost:8090/MyService/APIJCDecauxProxy?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
  <xs:element name="Contracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyServer" minOccurs="0" name="ContractsResult" nillable="true" type="q1:ArrayOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationsOfContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationsOfContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProxyServer" minOccurs="0" name="StationsOfContractResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationOfContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationOfContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProxyServer" minOccurs="0" name="StationOfContractResult" nillable="true" type="q3:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosestStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="originCoord" nillable="true" type="q4:GeoCoordinate" />
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lookingForABike" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosestStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProxyServer" minOccurs="0" name="ClosestStationResult" nillable="true" type="q5:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>