C#/LetGoBikingCS/RoutingServerTest/Connected Services/ServiceReference1/RoutingCalculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItineraryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>